<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @user.name %></h1>
<p>
  An transaction was successfully completed for account <% sprintf("%09d", @transaction.account_id) %> with the following details: <br>
</p>
<p>
  Transaction Type: <%= @transaction.kind.titleize %> <br>
  Transaction Amount: <%= @transaction.amount %> <br>
  Transaction Status: <%= @transaction.status %> <br>
  <% if @transaction.from %>
    From: <%= @transaction.from %> <br>
  <% end %>
  <% if @transaction.to %>
    To: <%= @transaction.to %> <br>
  <% end %>
  Transaction Date: <%= @transaction.eff_date %>

</p>
<p>Thanks for banking with us and have a great day!</p>
</body>
</html>