<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %>
    <%= transaction.kind %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= transaction.amount %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= select('transaction', 'status', Transaction.all_statuses.collect{ |c| c }) %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= transaction.start_date %>
  </div>

  <div class="field">
    <%= f.label :eff_date %>
    <%= transaction.eff_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
