<h3>Deposit </h3>
<%= form_for(transaction) do |d| %>
    <% if transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @account != nil %>
        <div class="field">
          <%= d.label "To Account" %>
          <%= select('transaction', 'account_id', Account.where("user_id = ?", current_user.id).collect{
              |a| ["#{current_user.name} #{sprintf("%09d",a.id)}", a.id]}, include_blank: true) %>
        </div>

        <div class="field">
          <%= d.label :amount %>
          <%= d.text_field :amount %>
        </div>
        <%= d.hidden_field :kind, value: 'deposit' %>
        <div class="actions">
          <%= d.submit %>
        </div>
    <% end %>
<% end %>

<hr>

<h3>Withdrawal </h3>
<%= form_for(transaction) do |w| %>
    <% if transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @account != nil %>
        <div class="field">
          <%= w.label "From Account" %>
          <%= select('transaction', 'account_id', Account.where("user_id = ?", current_user.id).collect{
              |a| ["#{current_user.name} #{sprintf("%09d",a.id)}", a.id]}, include_blank: true) %>
        </div>

        <div class="field">
          <%= w.label :amount %>
          <%= w.text_field :amount %>
        </div>
        <%= w.hidden_field :kind, value: 'withdraw' %>
        <div class="actions">
          <%= w.submit %>
        </div>
    <% end %>
<% end %>

<hr>
<h3>Personal Transfers</h3>
<%= form_for(transaction) do |p| %>
    <% if transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= p.label :amount %>
      <%= p.text_field :amount %>
    </div>

    <div class="field">
      <%= p.label "From Account" %>
      <%= select('transaction', 'from', Account.where("user_id = ?", current_user.id).collect{
          |a| ["#{current_user.name} #{sprintf("%09d",a.id)}", a.id]}, include_blank: true) %>
    </div>

    <div class="field">
      <%= p.label "To Account" %>
      <%= select('transaction', 'to', Account.where("user_id = ?", current_user.id).collect{
          |a| ["#{current_user.name} #{sprintf("%09d",a.id)}", a.id]}, include_blank: true) %>
    </div>

    <%= p.hidden_field :account_id, value: @account.id %>
    <%= p.hidden_field :kind, value: 'transfer' %>
    <div class="actions">
      <%= p.submit %>
    </div>
<% end %>

<hr>
<h3>Friend-to-Friend Transfers</h3>
<%= form_for(transaction) do |t| %>
    <% if transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% connections = Connection.where("(sender = ? or recipient = ?) and status = ?",
                                  current_user.id, current_user.id, 'accepted') %>
    <% friends = []
       Connection.all.each do |c|
         if c.recipient == current_user.id  and c.status == 'accepted'
           friends << c.sender
         elsif c.sender == current_user.id and c.status == 'accepted'
           friends << c.recipient
         end
       end
       friend_accounts = []
       friends.each do |f|
         Account.all.each do |a|
           if a.user_id == f
             friend_accounts << a.id
           end
         end
       end
    %>

    <div class="field">
      <%= t.label :amount %>
      <%= t.text_field :amount %>
    </div>

    <div class="field">
      <%= t.label "From Account" %>
      <%= select('transaction', 'from', Account.where("user_id = ?", current_user.id).collect{
          |a| ["#{current_user.name} #{sprintf("%09d",a.id)}", a.id]}, include_blank: true) %>
    </div>

    <div class="field">
      <%= t.label "To Friend" %>
      <%= select('transaction', 'to', friend_accounts.collect{
          |fa| ["#{User.find(Account.find(fa).user_id).name} #{sprintf("%09d",fa)}", fa] }, include_blank: true) %>
    </div>

    <%= t.hidden_field :account_id, value: @account.id %>
    <%= t.hidden_field :kind, value: 'send' %>
    <div class="actions">
      <%= t.submit %>
    </div>

<% end %>
