<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @transaction.kind.titleize %>
</p>

<p>
  <strong>Amount:</strong>
  <%= sprintf("$%.2f", @transaction.amount) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status.titleize %>
</p>

<p>
  <strong>From:</strong>
  <%= if @transaction.from
        "#{User.find(Account.find(@transaction.from).user_id).name} #{sprintf("%09d",@transaction.from)}"
      else
        "N/A"
      end
  %>
</p>

<p>
  <strong>To:</strong>
  <%= if @transaction.from
        "#{User.find(Account.find(@transaction.to).user_id).name} #{sprintf("%09d",@transaction.to)}"
      else
        "N/A"
      end
  %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @transaction.start_date %>
</p>

<p>
  <strong>Eff date:</strong>
  <%= @transaction.eff_date %>
</p>

<% if (@transaction.kind == 'borrow' or @transaction.kind == 'send') and User.find(Account.find(@transaction.from).user_id) == current_user %>
  <%= link_to 'Back', account_path(Account.find(@transaction.from)) %>
<% elsif (@transaction.kind == 'borrow' or @transaction.kind == 'send') and User.find(Account.find(@transaction.to).user_id) == current_user %>
  <%= link_to 'Back', account_path(Account.find(@transaction.to)) %>
<% else %>
  <%= link_to 'Back', account_path(Account.find(@transaction.account_id)) %>
<% end %>
