<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @transaction.kind.titleize %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status.titleize %>
</p>

<p>
  <strong>From:</strong>
  <%= if @transaction.from
        "#{User.find(Account.find(@transaction.from).user_id).name} #{sprintf("%09d",@transaction.from)}"
      else
        "N/A"
      end
  %>
</p>

<p>
  <strong>To:</strong>
  <%= if @transaction.from
        "#{User.find(Account.find(@transaction.to).user_id).name} #{sprintf("%09d",@transaction.to)}"
      else
        "N/A"
      end
  %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @transaction.start_date %>
</p>

<p>
  <strong>Eff date:</strong>
  <%= @transaction.eff_date %>
</p>

<%= link_to 'Back', account_path(@account) %>
