<%= form_for(account) do |f| %>
    <% if account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(account.errors.count, 'error') %> prohibited this account from being saved:</h2>

          <ul>
            <% account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if current_user.admin? or current_user.superadmin? %>
        <div class="field">
          <%= f.label 'Account Owner' %>
          <%= select('account', 'user_id', User.where("role = ?", 0).collect{ |u| ["#{u.name}", u.id]}) %>
          <%= f.hidden_field :status, value: 'active' %>
        </div>
    <% else %>
        <div class="field">
          <%= f.label :user %><br />
          <%= f.label @user.name %><br />
          <%= f.hidden_field :user_id, value: @user.id %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>